extends ../layout

block content
  .page-header
    h3 Enter Auth Code to Download File
  form.form-horizontal(id='upload-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='string') Auth Code
      .col-sm-7
        input.form-control(type='string', name='code', id='code', placeholder='Authorization Code', autofocus)
    .form-group
      .col-sm-offset-3.col-sm-7
        |Warning: File will be inaccessible after download.
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          span.ion-ios7-cloud-download-outline
          | Download
