footer
  .container.text-center
    p.pull-left © 2014 Varun Arora. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/avarun42/File.ly') GitHub
      li
        a(href='https://github.com/avarun42/File.ly/issues') Issues